<!doctype html>
<!--[if IE 7]>  <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie10 lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>  <html class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <script></script>
    <meta charset="utf-8" />
    <title>Ipad Mini Apple 16 Gb Wifi Led 7.9</title>

    <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="/dist/ui/chico.css">
    <link rel="stylesheet" href="/bower_components/mesh/index.css">
    <link rel="stylesheet" href="/src/styles.css">
</head>

<body>

    <div class="mesh-col-2">
      <div class="ch-leftcolumn">
        &nbsp;
      </div>
    </div>

    <div class="product-bg-color mesh-col-8">

      <header class="mesh-col-12">
        <h1>Ipad Mini Apple 16 Gb Wifi Led 7.9</h1>
      </header>

      <section class="product mesh-col-12">
        <div class="mesh-col-6">
          <img src="dist/assets/product-image.jpg" class="product-image">
        </div>

        <div class="mesh-col-6">
          <strong class="price ch-price">$ 4799<sup>99</sup></strong>
          <form action="#" class="ch-form myForm" method="GET">
            <fieldset>
              <div class="ch-form-row">
                <label for="select1">
                  Quantity
                </label>
                <select id="select1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <div class="ch-form-row">
                <label for="select1">
                  Payments
                </label>
                <select id="select1">
                  <option value="12">12</option>
                  <option value="11">11</option>
                  <option value="10">10</option>
                  <option value="9">9</option>
                  <option value="8">8</option>
                  <option value="7">7</option>
                  <option value="6">6</option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </div>
              <a href="" class="ch-btn ch-btn-big">Buy</a>
              <p class="ch-form-hint">MercadoLibre isn`t the owner of this product.</p>
            </fieldset>
          </form>
          <h2 id="carousel">More products like this</h2>
          <div class="myCarousel ch-carousel">
            <ul>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
              <li><img src="dist/assets/product-image.jpg"></li>
            </ul>
          </div>
        </div>
      </section>

      <section class="mesh-col-12">
        <div class="ch-box-container">
          <div class="tabs ch-tabs">
            <ul class="ch-tabs-triggers">
              <li><a href="#tab1-a" class="ch-tab">Product Description</a></li>
              <li><a href="#tab2-a" class="ch-tab">Questions</a></li>
            </ul>
            <div class="ch-box-lite">
              <div id="tab1-a">
                <strong>iPad Mini 3 Tela Retina 16GB Apple, Câmera 5MP, Wi-Fi Prata - MGNV2CLA</strong>
                <p>É incrível a quantidade de inovação que cabe na palma da sua mão. O iPad Mini foi criado para ser pequeno, rápido e capaz de fazer muito. E agora ele ficou ainda melhor. Com avanços como Touch ID, iOS 8 e design moderno, você tem ainda mais motivos para se apaixonar.</p>
                <p>O iPad Mini 3 vem com a tecnologia avançada Touch ID. Ela oferece segurança sem precedentes, porque usa a senha mais perfeita e difícil de copiar já criada: sua impressão digital. Basta um toque para desbloquear o seu iPad mini na hora. Além disso, você pode usar o Touch ID para fazer compras no iTunes, iBooks e App Store.</p>
                <p>Ele conta com o poder do chip A7 com arquitetura de 64 bits, oferecendo uma performance excelente sem sacrificar a duração da bateria. Um desempenho incrível que você pode levar para onde quiser.</p>
                <p>Quer fazer fotos e vídeos nítidos, vibrantes e cheios de detalhes? O iPad Mini 3 tem tudo que você precisa, inclusive os novos recursos do iOS 8, como Panorama e vídeo em time-lapse. Seus registros vão ficar tão inesquecíveis quanto os momentos em que foram feitos. E o melhor, essa qualidade de imagem vai estar também nas suas chamadas com vídeo.</p>
                <p>Além disso, você se conecta com velocidades incríveis em ainda mais lugares. Duas antenas e a tecnologia MIMO garantem o excelente desempenho Wi-Fi. Você vai baixar conteúdo, enviar vídeos, navegar e compartilhar documentos com o AirDrop num piscar de olhos.</p>
                <p>E para garantir ainda mais diversão e comodidade, ele vem com Apps incríveis para o que você faz todos os dias, como navegar, checar e-mail, editar filmes e fotos, escrever relatórios e ler livros. Além deles, na App Store você encontra milhares de aplicativos criados para a tela Retina do iPad, e não versões aumentadas de aplicativos para telefone. Se você gosta de fotografia, viagem, cuidar do seu dinheiro ou jogar, vai encontrar um app para fazer isso de forma melhor.</p>
                <p>O iOS 8 é o sistema operacional móvel mais avançado, com recursos que deixam o iPad Mini 3 ainda mais indispensável. Com a "Continuidade", você começa um projeto em um dispositivo e termina em outro. O Compartilhamento Familiar permite que até seis pessoas da família compartilhem filmes, livros, música e apps. No iCloud Drive, você armazena qualquer tipo de documento com segurança e acessa de qualquer dispositivo. Todos os recursos do iOS 8 foram criados pensando no iPad mini, na potência do chip A7, na conexão ultrarrápida e na tela Retina de alta resolução.</p>
              </div>

              <div id="tab2-a" class="ch-hide">
                <div class="ch-box-info">
                  <h2>Buyer</h2>
                  <p>Do you have this one in white?</p>
                </div>
                <div class="ch-box-ok">
                  <h2>Seller</h2>
                  <p>No I don't, I only have black.</p>
                </div>
                <div class="ch-box-info">
                  <h2>Buyer</h2>
                  <p>Do you have this one in white?</p>
                </div>
                <div class="ch-box-ok">
                  <h2>Seller</h2>
                  <p>No I don't, I only have black.</p>
                </div>
                <div class="ch-box-info">
                  <h2>Buyer</h2>
                  <p>Do you have this one in white?</p>
                </div>
                <div class="ch-box-ok">
                  <h2>Seller</h2>
                  <p>No I don't, I only have black.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <div class="mesh-col-2">
      <div class="ch-rightcolumn">
        &nbsp;
      </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/dist/ui/chico.js"></script>
    <script src="/src/app.js"></script>
</body>
</html>
